name: "Python lint"

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        python-version: ['3.9', '3.12']
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install flake8==7.1.1 flake8-import-order==0.18.2 darglint==1.8.1 codespell
          python -m pip install mypy types-requests types-python-dateutil types-redis
          python -m pip install ruff==0.12.3

      - name: Lint with flake8
        run: |
          flake8 --statistics

      - name: Lint with Ruff
        run: |
          ruff check

      - name: Check static typing
        run: |
          mypy . --explicit-package-bases

      - name: Check code for common misspellings
        run: |
          codespell -q 3 --skip="*.r,*.xsd,*.json" || true

      - name: Check McCabe complexity
        run: |
          flake8 --max-complexity 10 || true
